<<<<<<< HEAD
<div id="post-frame-parent">
    <iframe allowtransparency="true" id="post-frame" src="<%= postmsg %>?token=<%= user.token %>" autofocus></iframe>
    <iframe allowtransparency="true" id="upload-frame" src="<%= uploadfile %>?token=<%= user.token %>"></iframe>
</div>
<iframe allowtransparency="true" id="chat-frame" src="<%= chatmsgs %>?token=<%= user.token %>"></iframe>
<iframe allowtransparency="true" id="settings-frame" <% if (typeof snapbottom != "undefined" && snapbottom) { %>
    class="snapbottom" <% } %> src="<%= settingsPanel %>?token=<%= user.token %>"></iframe>
=======
<div id="post-frame-parent">
    <iframe sandbox="allow-forms allow-scripts" allowtransparency="true" id="post-frame"
        src="<%= postmsg %>?token=<%= user.token %>" autofocus></iframe>
    <iframe sandbox="allow-forms allow-scripts" allowtransparency="true" id="upload-frame"
        src="<%= uploadfile %>?token=<%= user.token %>"></iframe>
</div>
<iframe sandbox="allow-forms" allowtransparency="true" id="chat-frame"
    src="<%= chatmsgs %>?token=<%= user.token %>"></iframe>
>>>>>>> 5c6dfbd5920bf2ec9a74a57a179bf49f0bf57b24
