<div id="login">

	<div id="settings">

	</div>
	<!-- <form action="/_settings" method="POST">

		<input type="hidden" name="page" value="index">
		<select name="theme" id="themepicker">
			<input type="hidden" name="theme" value="<%= theme %>">
		</select>

		<input type="submit" value="Enter chatroom" />
	</form> -->
	<div id="motd">
		<!-- TODO: move this to an easy-to-edit motd.html file -->
		<p><b>Zero JavaScript</b> in your browser.</p>
		<p><b>Zero accounts</b>, <b>cookies</b>, or <b>logs</b>.</p>
		<p>Just a realtime live chat.</p>
	</div>
	<form action="/" method="POST" id="loginform">

		<label for="handle">Handle</label>

		<input name="handle" id="handle" required tabindex="1" maxlength="<%= handleMaxlen %>" type="text"
			placeholder="" autocomplete="off" autofocus
			title="Becomes your screen name (Max: <%= handleMaxlen %> characters)" />

		<label for="passcode">Passcode</label>

		<input name="passcode" id="passcode" required tabindex="2" maxlength="<%= passMaxlen %>" type="password"
			autocomplete="off" placeholder=""
			title="Becomes a unique code, type it the same each time (Max: <%= passMaxlen %> characters)" />

		<!-- <input name="room" tabindex="3" maxlength="<%= roomNameMaxlen %>" value="" placeholder="Room (ex: lobby)" /> -->

		<label for="room">Room <small class="subtle">(Double-click for list)</small></label>

		<input name="room" id="room" type="text" maxlength="<%= roomNameMaxlen %>" placeholder='/Hallway'
			list="default_rooms" autocomplete="off" class="combolist" tabindex="3"
			title='The chatroom you will join, typing "/" shows a list (Max: <%= roomNameMaxlen %> characters)'
			<% if(url != ""){ %>value="/<%= url %>" <% } %>>

		<datalist name="room" id="default_rooms">
			<!-- TODO: move the suggested rooms to a txt file -->
			<option value="/Hallway">/Hallway</option>
			<option value="/Español">/Español</option>
			<option value="/Français">/Français</option>
			<option value="/Deutsche">/Deutsche</option>
			<option value="/中文">/中文</option>
			<option value="/हिन्दी">/हिन्दी</option>
			<option value="/TheBackrooms">/TheBackrooms</option>
		</datalist>
		</input>

		<input type="hidden" name="theme" value="<%= theme %>">

		<input type="submit" tabindex="4" value="Enter chatroom" />
	</form>

</div>

<div class="corners">
	<a href="https://github.com/rslay/ZeroChat" style="justify-self: left;">
		<img src="/images/github.svg" alt="github">
		<small><b style="font-size:100%">ZeroChat</b> is Open Source ♥ Run your own</small>
	</a>
	<div style="justify-self: center;">
		<small style="color:gray;">How does it work? It's <a style="font-size:100%"
				href="https://justhack.in/stateful-http">stateful HTTP</a>.</small>
	</div>
	<div></div>
</div>