<div class="message <%= messageType %>" title="<%= timestamp %>">
    <span class="tripcode"><%= tripcode %></span>
    <span class="handle"><%= handle %></span>
    <span class="message-text"><%= message %></span>
</div>