<div class="message <%= messageType %>">
	<span title="<%= timestamp %>" class="tripcode"><%= tripcode %></span>
	<span title="<%= timestamp %>" class="handle"><%= handle %></span>
	<div>
		<% if (typeof file != "undefined") { %>
		<div class="filedownload" id="<%= file.hrefImgId %>">
			<% if (typeof inlineView != "undefined") { %>
				<% if (file.type == "image") { %>
				<span id="<%= file.hrefImgId %>_close"><%= file.name %></span>
				<a class="previewClose" href="#<%= file.hrefImgId %>_close"></a>
				<a class="previewOpen" href="#<%= file.hrefImgId %>">
					<img download="<%= file.name %>" alt="<%= file.name %>" src="data:<%= file.mimetype %>;base64,<%= file.data %>"/>
				</a>
				<% } else if (file.type == "video") { %>
				<span><%= file.name %></span>
				<video controls src="data:<%= file.mimetype %>;base64,<%= file.data %>"></video>
				<% } else if (file.type == "audio") { %>
				<span><%= file.name %></span>
				<audio controls>
					<source src="data:<%= file.mimetype %>;base64,<%= file.data %>">
				</audio>
				<% } else { %>
				<a download="<%= file.name %>" href="data:<%= file.mimetype %>;base64,<%= file.data %>"><span><%= file.name %></span></a>
				<% } %>
			<% } else { %>
			<a download="<%= file.name %>" href="data:<%= file.mimetype %>;base64,<%= file.data %>"><span><%= file.name %></span></a>
			<% } %>
		</div>
		<% } %>
		<% if (typeof message != "undefined" && message != "") { %>
			<span class="message-text"><%- message %></span>
		<% } %>
	</div>
	<% if (typeof notifications != "undefined") { %>
	<audio class="sound" autoplay src="/sound.mp3">
		<source src="/sound.mp3" type="audio/mpeg">
	</audio>
	<% } %>
</div>
