<!-- Leaving the action blank submits to the same page -->
<form id="post" enctype="multipart/form-data" action="" method="post">
	<input name="token" type="hidden" value="<%= user.token %>" />

	<% if (typeof msg != "undefined") { %>
	<input tabindex="1" maxlength="<%= maxlen %>" type="text" name="message" id="messagebox" placeholder="<%= placeholder %>"
		autofocus autocomplete="off" value="<%= msg %>" />
	<% } else { %>
	<input tabindex="1" maxlength="<%= maxlen %>" type="text" name="message" id="messagebox" placeholder="<%= placeholder %>"
		autofocus autocomplete="off" />
	<% } %>
	<div id="uploadsubmit">
		<input tabindex="-1" id="fileupload" name="fileupload" type="file" />
	</div>

	<input tabindex="-1" type="submit" value="Send">
</form>
